.cor-1 {
    background-color: tomato;
    height: 100px;
}

.cor-2 {
    background-color: aqua;
    height: 100px;
}

.cor-3 {
    background-color: blueviolet;
    height: 100px;
}

.cor-4 {
    background-color: chocolate;
    height: 100px;
}

.cor-5 {
    background-color: bisque;
    height: 100px;
}

.cor-6 {
    background-color: cadetblue;
    height: 100px;
}