.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario{
    border-style: solid;
    border-radius: 15px;
    padding: 30px;
    box-shadow: -7px 8px 11px 0px rgba(162, 156, 156, 0.494);
}